<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<body>

<div class="wrapper">

    <div class="container marketing">

        <!--Section for developers and managers-->
        <div sec:authorize="hasAnyRole('DEVELOPER', 'MANAGER')">
            <h1>Tasks</h1><br>
            <div class="container px-lg-5">
                <div class="row mx-lg-n5">
                    <div class="col py-3"><b>Name</b></div>
                    <div class="col py-3"><b>Project</b></div>
                    <div class="col py-3">
                        <div class="btn-group">
                            <a type="button" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                                <span class="selection">
                                    <b th:if="${(param.status == null)}">Show All</b>
                                    <b th:if="${(param.status != null)}" th:text="${param.status}"></b>
                                </span>
                            </a>
                            <div sec:authorize="hasRole('DEVELOPER')">
                                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:href="@{'/userDeveloper/tasks'}">Show All</a>
                                    <a class="dropdown-item" th:href="@{'/userDeveloper/tasks?status=Accepted'}">Accepted</a>
                                    <a class="dropdown-item" th:href="@{'/userDeveloper/tasks?status=Work in progress'}">Work in Progress</a>
                                    <a class="dropdown-item" th:href="@{'/userDeveloper/tasks?status=Testing'}">Testing</a>
                                    <a class="dropdown-item" th:href="@{'/userDeveloper/tasks?status=Done'}">Done</a>
                                </div>
                            </div>
                            <div sec:authorize="hasRole('MANAGER')">
                                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:href="@{'/userManager/tasks'}">Show All</a>
                                    <a class="dropdown-item" th:href="@{'/userManager/tasks?status=Accepted'}">Accepted</a>
                                    <a class="dropdown-item" th:href="@{'/userManager/tasks?status=Work in progress'}">Work in Progress</a>
                                    <a class="dropdown-item" th:href="@{'/userManager/tasks?status=Testing'}">Testing</a>
                                    <a class="dropdown-item" th:href="@{'/userManager/tasks?status=Done'}">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${acceptedTasks.size() == 0}" class="row mx-lg-n5">
                        <div th:text="'There are no acceptedTasks with this status'" class="col"></div>
                </div>
                <div th:if="${acceptedTasks.size() > 0}">
                    <div th:each="acceptedTask : ${acceptedTasks}" class="row mx-lg-n5">
                        <div class="col py-3">
                            <div sec:authorize="hasRole('MANAGER')">
                                <a th:href="@{'/userManager/viewTask/' + ${acceptedTask.id}}" th:text="${acceptedTask.name}"></a>
                            </div>
                            <div sec:authorize="hasRole('DEVELOPER')">
                                <a th:href="@{'/userDeveloper/viewTask/' + ${acceptedTask.id}}" th:text="${acceptedTask.name}"></a>
                            </div>
                        </div>
                        <div th:text="${acceptedTask.project.getName()}" class="col py-3"></div>
                        <div th:text="${acceptedTask.status.getDisplayValue()}" class="col py-3"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

</body>
</html>