<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<style>
    .scroll-box {
        overflow-y: scroll;
        height: 250px;
    }
</style>
<body>


<div class="wrapper">

    <div class="container marketing">

        <div sec:authorize="hasRole('DEVELOPER')">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 th:text="${suggestedTask.getName()}"></h2>
                    </div>
                    <div class="col">
                        <div th:if="${message} != null" th:text="${message}" class="text-success" style="float: right"></div>
                    </div>
                </div>

                <div class="container px-lg-5">
                    <div class="row mx-lg-n5">
                        <div class="col py-3 px-lg-5"></div>
                        <div class="col py-3 px-lg-5"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card mb-3 h-100">
                            <div class="card-body">
                                <h4 class="card-title">Project</h4>
                                <p class="card-text" th:text="${suggestedTask.getProject().getName()}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3 h-100">
                            <div class="card-body">
                                <h4 class="card-title">Estimated effort</h4>
                                <p class="card-text" th:text="${suggestedTask.getEstimation() + ' hours'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container px-lg-5">
                    <div class="row mx-lg-n5">
                        <div class="col py-3 px-lg-5"></div>
                        <div class="col py-3 px-lg-5"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-8 h-100">
                            <div class="card-body">
                                <h4 class="card-title">Description</h4>
                                <div class="scroll-box">
                                    <div th:text="${suggestedTask.getDescription()}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container px-lg-5">
                    <div class="row mx-lg-n5">
                        <div class="col py-3 px-lg-5"></div>
                        <div class="col py-3 px-lg-5"></div>
                    </div>
                </div>

            </div>

        </div>

        <div sec:authorize="hasRole('MANAGER')">
            <h2 th:text="${suggestedTask.name}">Edit Task</h2>
            <small>
                <button th:text="${suggestedTask.getProject().getName()}" class="btn" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            </small>
            <br><br><br>

            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>
                            <input th:field="*{suggestedTask.name}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>
                            <textarea th:field="*{suggestedTask.description}" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Estimation</th>
                        <td>
                            <div class="input-group">
                                <input th:field="*{suggestedTask.estimation}" type="number" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"> hours </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <form th:action="@{/userManager/evaluateSuggestedTask/accept/__${suggestedTask.getId()}__}" method="post">
                        <button type="submit" class="btn btn-success" value="accept">Accept</button>
                    </form>
                    <form th:action="@{/userManager/evaluateSuggestedTask/decline/__${suggestedTask.getId()}__}" method="post">
                        <button type="submit" class="btn btn-danger" value="decline">Decline</button>
                    </form>
                </div>

                <br><br><br><br>
            </div>
        </div>

    </div>

</div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

</body>
</html>