<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<style>
    .scroll-box {
        overflow-y: scroll;
        height: 200px;
    }
</style>
<body>


<div class="wrapper">

    <div class="container marketing">

        <!--Section for managers-->
        <div sec:authorize="hasRole('MANAGER')">
            <h1>Users</h1>
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th></th>
                    <th>Projects</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td style="width: 30%">
                        <a th:text="${user.name}" th:attr="data-target='#collapseExample'+${user.id}, aria-controls='collapseExample'+${user.id}" class="btn btn-default" type="button" data-toggle="collapse" aria-expanded="false"></a>
                        <div class="collapse" th:id="'collapseExample'+${user.id}">
                            <div class="card card-body">
                                <!-- TODO Als Manager kann ich die gebuchten Zeiten aller Entwickler einsehen-->
                                <div th:if="${user.getBookedTimes().size() > 0}" class="scroll-box">
                                    <div th:each="project : ${user.projects}">
                                        <div th:text="${project.name}"></div>
                                        <ul th:each="bookedTime : ${user.getBookedTimes()}">
                                            <div th:if="${bookedTime.project == project && bookedTime.user == user}">
                                                <li th:text="${bookedTime.getDate()} + ', ' + ${bookedTime.timeSpent} + ' h'"></li>
                                            </div>
                                        </ul><br>
                                    </div>
                                </div>
                                <div th:if="${user.getBookedTimes().size() == 0}" th:text="${user.name} + ' has not booked any times yet.'"></div>
                            </div>
                        </div>
                    </td>
                    <td style="width: 10%"></td>
                    <td style="width: 60%">
                        <div th:if="${user.projects.size() > 0}">
                        <span th:each="a, stat : ${user.projects}"
                              th:text=" ${user.projects[__${stat.index}__].name} +  (${stat.size-1 > stat.index}? ', ':'') ">
                        </span>
                        </div>
                        <!--Alternative-->
                        <!--
                        <div th:if="${user.projects.size() > 0}">
                            <div th:each="a, stat : ${user.projects}">
                                <ul>
                                    <li th:text=" ${user.projects[__${stat.index}__].name} +  (${stat.size-1 > stat.index}? ', ':'') "></li>
                                </ul>
                            </div>
                        </div>
                        -->
                        <div th:if="${user.projects.size() == 0}" th:text="${user.name} + ' is not assigned to any projects.'"></div>
                    </td>
                </tr>
            </table>

            <!--Alternative-->
            <!--<div id="accordion">
                <th:block th:each="user: ${users}">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse" aria-controls="collapse" th:text="${user.name}">
                                </button>
                            </h5>
                        </div>
                        <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordion">
                            <div class="card-body" th:text="${user.role}">
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>-->

            <br><br><br><br><br>

        </div>

    </div>

</div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

</body>
</html>