<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<script src="https://unpkg.com/feather-icons"></script>
<style>
    .scroll-box {
        overflow-y: scroll;
        height:250px;
        padding: 1rem
    }
    .scroll-box-large {
        overflow-y: scroll;
        height:600px;
        padding: 1rem
    }
</style>
<body>

<div class="wrapper">

    <div class="container marketing">

        <!--Section for developers-->
        <div sec:authorize="hasRole('DEVELOPER')">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Goal Completion</div>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <div class="container">
                                        <div th:each="project : ${projects}">
                                            <h5 th:text="${project.getName()}"></h5>
                                            <a th:text="${project.findTasks('Done')} + ' / ' + ${project.getAcceptedTasks().size()} + ' acceptedTasks done'"></a>
                                            <div th:if="${project.getAcceptedTasks().size() > 0 }" class="progress">
                                                <div class="progress-bar" role="progressbar" th:attr="style='width: '+(${project.findTasks('Done')}/${project.getAcceptedTasks().size()})*100+'%', aria-valuenow=${project.findTasks('Done')}, aria-valuemax=${project.getAcceptedTasks().size()}" aria-valuemin="0"></div>
                                            </div>
                                            <div th:if="${project.getAcceptedTasks().size() <= 0 }" class="progress">
                                                <div class="progress-bar" role="progressbar" th:attr="style='width: 0%', aria-valuenow=0, aria-valuemax=0" aria-valuemin="0"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${projects.size() <= 0}">
                                        Currently you´re not assigned to any project.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h4 class="card-header">
                                My Tasks
                                <svg id="i-info" data-toggle="tooltip" data-placement="right" title="Tasks that are assigned to you sorted by due date." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M16 14 L16 23 M16 8 L16 10" />
                                    <circle cx="16" cy="16" r="14" />
                                </svg>
                            </h4>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <div th:if="${myTasks != null}" class="list-group">
                                        <a th:each="myTask : ${myTasks}" th:href="@{'/userDeveloper/viewTask/' + ${myTask.getId()}}" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1" th:text="${myTask.getName()}"></h5>
                                                <small th:if="${myTask.getDaysLeft() > 0 && myTask.getDaysLeft() < 100}" th:text="${myTask.getDaysLeft()} + ' days left'" style="color: green"></small>
                                                <small th:if="${myTask.getDaysLeft() > 0 && myTask.getDaysLeft() >= 100}" th:text="'+99 days left'" style="color: green"></small>
                                                <small th:if="${myTask.getDaysLeft() == 0}" th:text="'Due today!'" style="color: darkorange"></small>
                                                <small th:if="${myTask.getDaysLeft() < 0}" th:text="${myTask.getDaysLeft()} + ' days left'" style="color: red"></small>
                                                <small th:if="${myTask.getDaysLeft() == null}" th:text="'Due date not set'" style="color: gray"></small>
                                            </div>
                                            <div>
                                                <small th:text="${myTask.getProject().getName()}"></small>
                                                <small th:if="${myTask.getAssignee() != null}" th:text="' - assigned to ' + ${myTask.getAssignee()}" class="text-muted"></small>
                                                <small th:if="${myTask.getAssignee() == null}" th:text="' - not assigned'" class="text-muted"></small>
                                            </div>
                                            <p class="mb-1" th:text="${#strings.abbreviate(myTask.getDescription(), 120)}"></p>
                                        </a>
                                    </div>
                                    <div th:if="${myTasks.size() <= 0}" class="list-group">
                                        You are not assigned to any acceptedTasks yet.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h4 class="card-header">My Suggested Tasks</h4>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <div class="list-group">
                                        <a th:each="suggestedTask : ${mySuggestedTasks}" th:href="@{'/userDeveloper/viewSuggestedTask/' + ${suggestedTask.getId()}}" class="list-group-item list-group-item-action">
                                            <div th:if="${suggestedTask.getStatus() != null}" class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1" th:text="${suggestedTask.getName()}"></h5>
                                                <h5 th:if="${suggestedTask.getStatus().getDisplayValue() == 'Accepted'}"><span class="badge badge-success">Accepted</span></h5>
                                                <h5 th:if="${suggestedTask.getStatus().getDisplayValue() == 'Idea'}"><span class="badge badge-secondary">In Evaluation</span></h5>
                                                <h5 th:if="${suggestedTask.getStatus().getDisplayValue() == 'Declined'}"><span class="badge badge-danger">Declined</span></h5>
                                            </div>
                                            <div>
                                                <small th:text="${suggestedTask.getProject().getName()}"></small>
                                            </div>
                                            <p class="mb-1" th:text="${#strings.abbreviate(suggestedTask.getDescription(), 120)}"></p>
                                        </a>
                                        <a th:if="${mySuggestedTasks.size() <= 0}" class="list-group">
                                            You haven´t suggested any acceptedTasks yet.
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h4 class="card-header">
                                Open Tasks
                                <svg id="i-info" data-toggle="tooltip" data-placement="right" title="Open (not done) acceptedTasks without an assignee." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M16 14 L16 23 M16 8 L16 10" />
                                    <circle cx="16" cy="16" r="14" />
                                </svg>
                            </h4>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <div th:if="${openTasks != null}" class="list-group">
                                        <a th:each="openTask : ${openTasks}" th:href="@{'/userDeveloper/viewTask/' + ${openTask.getId()}}" class="list-group-item list-group-item-action">
                                            <div th:if="${openTask.getDueDate() != null}" class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1" th:text="${openTask.getName()}"></h5>
                                                <small th:if="${openTask.getDaysLeft() > 0 && openTask.getDaysLeft() < 100}" th:text="${openTask.getDaysLeft()} + ' days left'" style="color: green"></small>
                                                <small th:if="${openTask.getDaysLeft() > 0 && openTask.getDaysLeft() >= 100}" th:text="'+99 days left'" style="color: green"></small>
                                                <small th:if="${openTask.getDaysLeft() == 0}" th:text="'Due today!'" style="color: darkorange"></small>
                                                <small th:if="${openTask.getDaysLeft() < 0}" th:text="${openTask.getDaysLeft()} + ' days left'" style="color: red"></small>
                                            </div>
                                            <div th:if="${openTask.getDueDate() == null}" class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1" th:text="${openTask.getName()}"></h5>
                                                <small th:if="${openTask.getDaysLeft() == 0}" th:text="'Not set'" style="color: royalblue"></small>
                                            </div>
                                            <div>
                                                <small th:text="${openTask.getProject().getName()}"></small>
                                                <small th:if="${openTask.getAssignee() != null}" th:text="' - assigned to ' + ${openTask.getAssignee()}" class="text-muted"></small>
                                                <small th:if="${openTask.getAssignee() == null}" th:text="' - not assigned'" class="text-muted"></small>
                                            </div>
                                            <p class="mb-1" th:text="${#strings.abbreviate(openTask.getDescription(), 120)}"></p>
                                        </a>
                                    </div>
                                    <div th:if="${openTasks.size() <= 0}" class="list-group">
                                        You are not assigned to any acceptedTasks yet.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Section for managers-->
        <div sec:authorize="hasRole('MANAGER')">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Goal Completion</div>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <div class="container">
                                        <div th:each="project : ${projects}">
                                            <h5 th:text="${project.getName()}"></h5>
                                            <a th:text="${project.findTasks('Done')} + ' / ' + ${project.getAcceptedTasks().size()} + ' acceptedTasks done'"></a>
                                            <div th:if="${project.getAcceptedTasks().size() > 0 }" class="progress">
                                                <div class="progress-bar" role="progressbar" th:attr="style='width: '+(${project.findTasks('Done')}/${project.getAcceptedTasks().size()})*100+'%', aria-valuenow=${project.findTasks('Done')}, aria-valuemax=${project.getAcceptedTasks().size()}" aria-valuemin="0"></div>
                                            </div>
                                            <div th:if="${project.getAcceptedTasks().size() <= 0 }" class="progress">
                                                <div class="progress-bar" role="progressbar" th:attr="style='width: 0%', aria-valuenow=0, aria-valuemax=0" aria-valuemin="0"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${projects.size() <= 0}" class="list-group">
                                        You currently don´t have any projects to manage.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Almost due Tasks</div>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <div class="list-group">
                                        <a th:each="taskAlmostDue : ${tasksAlmostDue}" th:href="@{'/userManager/viewTask/' + ${taskAlmostDue.getId()}}" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1" th:text="${taskAlmostDue.getName()}"></h5>
                                                <small th:if="${taskAlmostDue.getDaysLeft() > 0 && taskAlmostDue.getDaysLeft() < 100}" th:text="${taskAlmostDue.getDaysLeft()} + ' days left'" style="color: green"></small>
                                                <small th:if="${taskAlmostDue.getDaysLeft() > 0 && taskAlmostDue.getDaysLeft() >= 100}" th:text="'+99 days left'" style="color: green"></small>
                                                <small th:if="${taskAlmostDue.getDaysLeft() == 0}" th:text="'Due today!'" style="color: darkorange"></small>
                                                <small th:if="${taskAlmostDue.getDaysLeft() < 0}" th:text="${taskAlmostDue.getDaysLeft()} + ' days left'" style="color: red"></small>
                                            </div>
                                            <div>
                                                <small th:text="${taskAlmostDue.getProject().getName()}"></small>
                                                <small th:if="${taskAlmostDue.getAssignee() != null}" th:text="' - assigned to ' + ${taskAlmostDue.getAssignee()}" class="text-muted"></small>
                                                <small th:if="${taskAlmostDue.getAssignee() == null}" th:text="' - not assigned'" class="text-muted"></small>
                                            </div>
                                            <p class="mb-1" th:text="${#strings.abbreviate(taskAlmostDue.getDescription(), 100)}" ></p>
                                        </a>
                                        <a th:if="${tasksAlmostDue.size() <= 0}" class="list-group">
                                            There are no open acceptedTasks with a due date.
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Suggested Tasks</div>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="suggestedTask : ${suggestedTasks}">
                                            <a th:href="@{'/userManager/viewSuggestedTask/' + ${suggestedTask.id}}" th:text="${suggestedTask.name}"></a>
                                            <br>
                                            <small th:text="${suggestedTask.getProject().getName()}"></small>
                                            <div class="btn-group" role="group" style="float:right;">
                                                <form th:action="@{/userManager/evaluateSuggestedTask/accept/__${suggestedTask.getId()}__}" method="post">
                                                    <button type="submit" class="btn btn-success">
                                                        <svg id="i-checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="8" height="8" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <path d="M2 20 L12 28 30 4" />
                                                        </svg>
                                                    </button>
                                                </form>
                                                <form th:action="@{/userManager/evaluateSuggestedTask/decline/__${suggestedTask.getId()}__}" method="post">
                                                    <button type="button" class="btn btn-danger">
                                                        <svg id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="8" height="8" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <path d="M2 30 L30 2 M30 30 L2 2" />
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                    <div th:if="${suggestedTasks.size() <= 0}" class="list-group">
                                        There are no suggested acceptedTasks that need to be evaluated.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Assign and Schedule</div>
                            <div class="card-body">
                                <div class="scroll-box">
                                    <ul class="list-group">
                                        <li th:each="acceptedTask : ${unassignedAndUnscheduled}" class="list-group-item d-flex justify-content-between align-items-center">
                                            <a th:text="${acceptedTask.name}" th:href="@{'/userManager/viewTask/' + ${acceptedTask.id}}"></a>
                                            <span th:if="${acceptedTask.getDueDate() == null}" th:text="${'unscheduled'}" class="badge badge-info badge-pill"></span>
                                            <span th:if="${acceptedTask.getAssignee() == null}" th:text="${'unassigned'}" class="badge badge-primary badge-pill"></span>
                                        </li>
                                    </ul>
                                    <div th:if="${unassignedAndUnscheduled.size() <= 0}" class="list-group">
                                        All acceptedTasks are assigned and scheduled.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Section for admins-->
        <div sec:authorize="hasRole('ADMIN')">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Projects without members</div>
                            <div class="card-body">
                                <div class="scroll-box-large">
                                    <div th:if="${projects != null}" class="list-group">
                                        <a th:each="project : ${projects}" th:if="${project.members.size() <= 0}" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1" th:text="${project.name}"></h5>
                                            </div>
                                            <div>
                                                <small></small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Users without projects</div>
                            <div class="card-body">
                                <div class="scroll-box-large">
                                    <div class="list-group">
                                        <a th:each="user : ${users}" th:if="${user.projects.size() <= 0}" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1" th:text="${user.name}"></h5>
                                            </div>
                                            <div>
                                                <small th:text="${user.role.getDisplayValue()}"></small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>