<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<body>

<div class="wrapper">

    <div class="container marketing">

        <!--Section for developers-->
        <div sec:authorize="hasRole('DEVELOPER')">
            <h1>Add new task</h1><br>
            <form th:action="@{/userDeveloper/addTask}" th:object="${task}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input th:field="${task.name}" class="form-control" id="name" placeholder="Name" required="required">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea th:field="${task.description}" class="form-control" id="description" rows="3" placeholder="Take some time to describe the task..."></textarea>
                </div>
                <div class="form-group">
                    <!--<input type="hidden" th:value="${project.id}" th:name="projectId">-->
                    <label for=status>Status</label>
                    <select th:field="${task.status}" class="form-control" id="status">
                        <option th:value="Idea">Idea</option>
                        <option th:value="Planned">Planned</option>
                        <option th:value="Work_in_progress">Work in Progress</option>
                        <option th:value="Testing">Testing</option>
                        <option th:value="Done">Done</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="estimation">Estimation</label>
                    <input th:field="${task.estimation}" class="form-control" id="estimation" placeholder="Estimation" required="required">
                </div>
                <div class="form-group">
                    <input th:name="project" th:value="${project.id}" type="hidden">
                    <button type="submit" class="btn btn-primary mb-2">Create</button>
                </div>
            </form>
            <br><br><br><br><br>
        </div>

    </div><!-- /.container -->

</div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

</body>
</html>