<!doctype html>
<html lang="de" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<style>
    .scroll-box {
        overflow-y: scroll;
        height: 250px;
    }
</style>
<body>


<div class="wrapper">

    <div class="container marketing">

        <!-- remove -->
        <div sec:authorize="hasRole('MANAGER')">

            <div class="container">

            </div><!-- /.container -->

        </div>

    </div>

</div>

<div class="push"></div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>


</body>
</html>
