<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<style>
    .scroll-box {
        overflow-y: scroll;
        height: 250px;
    }
</style>
<body>


<div class="wrapper">

    <div class="container marketing">

        <div sec:authorize="hasRole('DEVELOPER')">

            <div class="container">

                <form th:action="@{/userDeveloper/editTask}" method="post">

                    <input th:field="*{task.name}" th:name="name" class="form-control form-control-lg col-lg-6">
                    <label class="text-danger small" th:errors="*{taskForm.name}"></label>

                    <br>

                   <div class="row">
                        <div class="col-3">
                            <div th:text="${task.getProject().getName()}" th:name="project" class="form-control"></div>
                        </div>
                        <div class="col-3">
                            <select th:field="*{task.assignee}" th:name="assignee" class="form-control" id="assignee">
                                <option th:if="${task.getAssignee() == null}"
                                        th:text="'Not assigned'"
                                        th:value="${null}">
                                </option>
                                <option th:text="'Assigned to ' + ${task.getAssignee()}"
                                        th:value="${task.getAssignee().getId()}">
                                </option>
                                <option th:each="member : ${project.members}"
                                        th:if="${!task.getAssignee().equals(member)}"
                                        th:text="'Assign to ' + ${member.getName()}"
                                        th:selected="${task.getAssignee()}"
                                        th:value="${member.id}"
                                        class="dropdown-item">
                                </option>
                            </select>
                            <label class="text-danger small" th:errors="*{taskForm.assignee}"></label>
                        </div>
                    </div>

                    <div class="container px-lg-5">
                        <div class="row mx-lg-n5">
                            <div class="col py-3 px-lg-5"></div>
                            <div class="col py-3 px-lg-5"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card mb-3 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Time Management</h4>
                                    <label data-error="wrong" data-success="right" for="dueDate">Due Date</label>
                                    <input th:value="${task.getDueDate()}" th:name="dueDate" class="datepicker form-control validate" data-val="true" data-val-date="The field DateTakenFrom must be a date." id="dueDate" name="Criteria.DateTakenFrom" type="date">
                                </div>
                                <label class="text-danger small" th:errors="*{taskForm.dueDate}"></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-3 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Effort</h4>
                                    <label data-error="wrong" data-success="right" for="time">Time spent</label>
                                    <div class="input-group">
                                        <input th:field="*{task.estimation}" th:name="estimation" type="number" id="time" class="form-control validate"><!--th:value="${task.getEstimation()}"-->
                                        <div class="input-group-append">
                                            <span class="input-group-text"> hours </span>
                                        </div>
                                    </div>
                                    <label class="text-danger small" th:errors="*{taskForm.estimation}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-3 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Dates</h4>
                                    <label data-error="wrong" data-success="right" for="status">Status</label>
                                    <!--Select for TaskFormConverter with String status-->
                                    <select th:name="status" th:id="status" class="form-control">
                                        <option th:value="${task.getStatus().getDisplayValue()}" th:text="${task.getStatus().getDisplayValue()}"></option>
                                        <option th:each="status : ${allStatus}"
                                                th:text="${status.getDisplayValue()}"
                                                th:if="${!task.getStatus().getDisplayValue().equals(status.getDisplayValue())}"
                                                th:value="${status.getDisplayValue()}">
                                        </option>
                                    </select>
                                    <!--Select for TaskFormConverter with Enum status-->
                                    <!-- th:field="*{task.status}"  -->
                                    <!--<select th:name="status" th:id="status" class="form-control">
                                        <option th:value="${task.getStatus()}" th:text="${task.getStatus().getDisplayValue()}"></option>
                                        <option th:each="status : ${T(de.hsba.bi.projectwork.task.Task.Status).values()}"
                                                th:if="${!task.getStatus().getDisplayValue().equals(status.getDisplayValue())}"
                                                th:text="${status.displayValue}"
                                                th:value="${status}"></option>
                                    </select>-->
                                    <!--th:if="${task.getStatus().equals('Planned')}">
                                    th:selected="${task.getStatus()} == ${(status.getDisplayValue())}";
                                    th:selected="${task.isSelected(status.getDisplayValue())}"
                                    th:selected="${task.getStatus().equals(status.getDisplayValue())}"-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container px-lg-5">
                        <div class="row mx-lg-n5">
                            <div class="col py-3 px-lg-5"></div>
                            <div class="col py-3 px-lg-5"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-8 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Description</h4>
                                    <div class="scroll-box">
                                        <textarea th:field="*{task.description}" th:name="description" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 250px;"></textarea>
                                    </div>
                                    <label class="text-danger small" th:errors="*{taskForm.description}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container px-lg-5">
                        <div class="row mx-lg-n5">
                            <div class="col py-3 px-lg-5"></div>
                            <div class="col py-3 px-lg-5"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-6 h-100">
                                <div class="card-body">
                                    <div style="float: right">
                                        <a th:href="@{/userDeveloper/viewTask/{taskId}(taskId=${task.id})}" class="btn btn-primary mb-2">Cancel</a>
                                        <input type="hidden" th:value="${task.id}" th:name="taskId">
                                        <input type="hidden" th:value="${task.project.id}" th:name="project">
                                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div><!-- /.container -->

</div>

<div class="push"></div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

</body>
</html>