<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<style>
    .scroll-box {
        overflow-y: scroll;
        height: 250px;
    }
</style>
<body>


<div class="wrapper">

    <div class="container marketing">

        <div sec:authorize="hasRole('DEVELOPER')">

            <div class="container">

                <form th:object="${task}" th:action="@{/userDeveloper/editTask/{taskId}(taskId=${task.id})}" method="post">

                    <input th:field="*{name}" class="form-control form-control-lg col-lg-6">

                    <br>

                    <div class="row">
                        <div class="col-3">
                            <div th:text="${task.getProject().getName()}" class="form-control"></div>
                        </div>
                        <div class="col-3">
                            <select th:field="*{assignee}" class="form-control" id="assignee">
                                <option th:if="${task.getAssignee() == null}"
                                        th:text="'Not assigned'"
                                        th:value="${null}">
                                </option>
                                <option th:text="'Assigned to ' + ${task.getAssignee()}"
                                        th:value="${task.getAssignee().getId()}">
                                </option>
                                <option th:each="member : ${project.members}"
                                        th:if="${!task.getAssignee().equals(member)}"
                                        th:text="'Assign to ' + ${member.getName()}"
                                        th:selected="${task.getAssignee()}"
                                        th:value="${member.id}"
                                        class="dropdown-item">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="container px-lg-5">
                        <div class="row mx-lg-n5">
                            <div class="col py-3 px-lg-5"></div>
                            <div class="col py-3 px-lg-5"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card mb-3 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Time Management</h4>
                                    <label data-error="wrong" data-success="right" for="dueDate">Due Date</label>
                                    <input th:name="dueDate" th:value="${task.getDueDate()}" class="datepicker form-control validate" data-val="true" data-val-date="The field DateTakenFrom must be a date." id="dueDate" name="Criteria.DateTakenFrom" type="date"> <!--th:field="*{task.dueDate}" th:value="${task.getDueDate()}"-->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-3 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Effort</h4>
                                    <label data-error="wrong" data-success="right" for="time">Time spent</label>
                                    <div class="input-group">
                                        <input th:name="time" th:field="*{estimation}" type="number" id="time" class="form-control validate"> <!--th:value="${task.getEstimation()}"-->
                                        <div class="input-group-append">
                                            <span class="input-group-text"> hours </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-3 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Dates</h4>
                                    <label data-error="wrong" data-success="right" for="status">Status</label>
                                    <select th:field="*{status}" class="form-control" id="status">
                                        <option th:value="${task.getStatus()}" th:text="${task.getStatus()}"></option>
                                        <option th:each="status : ${allStatus}"
                                                th:text="${status.getDisplayValue()}"
                                                th:if="${!task.getStatus().equals(status.getDisplayValue())}"
                                                th:value="${status}"
                                        >
                                        </option>
                                    </select>
                                    <!--th:if="${task.getStatus().equals('Planned')}">-->
                                    <!--th:selected="${task.getStatus()} == ${(status.getDisplayValue())}"-->
                                    <!--th:selected="${task.isSelected(status.getDisplayValue())}" -->
                                    <!--th:selected="${task.getStatus().equals(status.getDisplayValue())}" -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container px-lg-5">
                        <div class="row mx-lg-n5">
                            <div class="col py-3 px-lg-5"></div>
                            <div class="col py-3 px-lg-5"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-8 h-100">
                                <div class="card-body">
                                    <h4 class="card-title">Description</h4>
                                    <div class="scroll-box">
                                        <textarea th:text="${task.getDescription()}" th:field="*{description}" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 250px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container px-lg-5">
                        <div class="row mx-lg-n5">
                            <div class="col py-3 px-lg-5"></div>
                            <div class="col py-3 px-lg-5"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card mb-6 h-100">
                                <div class="card-body">
                                    <div style="float: right">
                                        <a th:href="@{/userDeveloper/viewTask/{taskId}(taskId=${task.id})}" class="btn btn-primary mb-2">Cancel</a>
                                        <input type="hidden" th:value="${task.project.id}" th:name="project">
                                        <!--<input type="hidden" th:value="${task.dueDate}" th:name="dueDate">-->
                                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div><!-- /.container -->

</div>

<div class="push"></div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

</body>
</html>