<!--
TODO
Currently a click on a cards either collapses all cards or none of them.
In my opinion it would be nicer if only the clicked card collapses.
I already managed  to achieve this in the html-file  "tasks.html" in the userManager-folder

TODO
Find a more elegant way to add a task
-->

<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header"></header>
<body>

<div class="wrapper">

    <div class="container marketing">

        <!--Section for developers-->
        <div sec:authorize="hasRole('DEVELOPER')">
            <h1>Projects</h1><br>
            <div class="form-group">
                <div th:if="${projects != null}" id="accordion">
                    <div th:each="project : ${projects}">
                        <div class='card'>
                            <div class='card-header'>
                                <h5 class='mb-0'>
                                    <button th:text="${project.name}" th:attr="data-target='#collapse'+${project.getId()}, aria-controls='collapse'+${project.getId()}" class='btn btn-link' data-toggle='collapse' aria-expanded='false'>
                                    </button>
                                </h5>
                            </div>
                            <div th:id="'collapse'+${project.getId()}" class='collapse' aria-labelledby='headingOne' data-parent='#accordion'>
                                <div class='card-body'>
                                    <h4>Tasks in this project</h4>
                                    <div th:if="${project.tasks.size() > 0}">
                                        <table class="table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Assignee</th>
                                            <th>Estimation</th>
                                            <th>Time spent on task</th>
                                        </tr>
                                        <tr th:each="task : ${project.tasks}">
                                            <td>
                                                <a th:href="@{'/userDeveloper/viewTask/' + ${task.id}}" th:text="${task.name}"></a>
                                            </td>
                                            <td th:text="${task.status.getDisplayValue()}"></td>
                                            <td>
                                                <div th:if="${task.assignee != null}" th:text="${task.assignee}"></div>
                                                <div th:if="${task.assignee == null}" th:text="'Not set'"></div>
                                            </td>
                                            <td th:text="${task.estimation}"></td>
                                            <td th:text="${task.totalTime}"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <form th:action="@{/userDeveloper/addTask/{projectId}(projectId=${project.id})}">
                                                    <!--<input type="hidden" th:value="${project.id}" th:name="projectId">-->
                                                    <button type="submit"  class="btn btn-outline-primary">Suggest task</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table><br>
                                        <div th:text="'You already spent ' + ${project.usersTimeSpentInProject} + ' hours on this project.'"></div>
                                    </div>
                                    <div th:if="${project.tasks.size() == 0}">
                                        <div><br>There are no tasks assigned to this project yet!</div>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
        </div>

    </div><!-- /.container -->

</div>

<!-- FOOTER -->
<footer th:insert="fragments/footer"></footer>

</body>
</html>